<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4710efbb-399c-4e59-9ad4-cd42ade49eaf/resourcegroups/Websites/providers/Microsoft.Web/sites/NicholasNyland</ResourceId>
    <ResourceGroup>Websites</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://nicholasnyland.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>nicholasnyland.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NicholasNyland</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$NicholasNyland</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:nicholasnyland.database.windows.net,1433;Initial Catalog=ArtDb;Persist Security Info=False;User ID=nelsonnyland;Password=Cptcpresentation!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:nicholasnyland.database.windows.net,1433;Initial Catalog=ArtDb;Persist Security Info=False;User ID=nelsonnyland;Password=Cptcpresentation!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="NicholasNyland.Models.ArtDb, NicholasNyland" MigrationConfiguration="NicholasNyland.Migrations.ArtMigrations.Configuration, NicholasNyland" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ArtDatabase" Order="2" Enabled="False">
          <Destination Path="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=NicholasNyland.Models.ArtDatabase;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=NicholasNyland.Models.ArtDatabase;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=NicholasNyland.Models.ArtDatabase;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ArtDatabase_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(LocalDb)\MSSQLLocalDB;initial catalog=NicholasNyland.Models.ArtDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ArtDatabase-Web.config Connection String">
      <ParameterValue>data source=(LocalDb)\MSSQLLocalDB;initial catalog=NicholasNyland.Models.ArtDatabase;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:nicholasnyland.database.windows.net,1433;Initial Catalog=ArtDb;Persist Security Info=False;User ID=nelsonnyland;Password=Cptcpresentation!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>