/* ~/Home/Index */

@font-face {
    font-family: "freestyle script";
    src: url("/fonts/FREESCPT.eot");
}
@font-face {
    font-family: "freestyle script";
    src: url("/fonts/FREESCPT.TTF") format("truetype");
}

.accordion {
    cursor: pointer;
    font-size: 2.5em;
    margin: 0.2em;
}

.arrow {
    cursor: pointer;
    width: 12px;
    height: 12px;
    padding-top: 0.5em;
    padding-right: 0.5em;
}

#aside {
    float: left;
    max-width: 150px;
    text-align: right;
}

.aside-element {
    font-size: 2.3em;
    padding-right: 0.1em;
    margin: 0.2em;
}

#bottom-container {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    max-width: 650px;
}

.button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding-top: 5.5em;
    padding-right: 0.5em;
}

.caption {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8em;
    padding-right: 0.1em;
    margin: 0.2em;
}

#container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.date {
    cursor: pointer;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

.exhibitions {
    display: none;
    overflow: hidden;
    font-size: 1.0em;
}

.fa {
    text-align: center;
    text-decoration: none;
    font-size: 0;
    border-radius: 50%;
    width: 17px;
    padding: 5px;
    margin-top: 1em;
    margin-right: 0.3em;
}

.fa-facebook {
    /*border-style: solid;
    border-width: thin;
    border-color: #3B5998;*/
    color: #3B5998;
}

.fa-instagram {
    /*border-style: solid;
    border-width: thin;
    border-color: #125688;*/
    color: #125688;
}

.fill {
    object-fit: cover;
    width: 90%;
    max-width: 950px;
    height: 90%;
}

.h1 {
    object-fit: contain;
    max-width: 30em;
    max-height: 5em;
    padding-left: 20em;
}

.header {
    font-family: "freestyle script";    
}

#img {
    object-fit: contain;
    max-width: 650px;
    max-height: 650px;
    justify-content: center;
}

.news {
    text-decoration: none;
    color: inherit;
}

.news-img {
    cursor: pointer;
    width: 85%;
    height: 85%;
    padding-left: 1.5em;
}

.news-caption {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

.news-element {
    padding-left: 1em;
}

.no-select {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.panel {
    display: none;
    overflow: hidden;
    font-size: 1.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
}

.show {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-size: 1em;
    padding-top: 0.5em;
    padding-left: 0.5em;
    margin: 0;
}

.slideshow {
    padding-left: 1%;
} 

.thumbnail {
    cursor: pointer;
    max-width: 215px;
    max-height: 170px;
    margin: 10px;    
}

/* firefox */
@-moz-document url-prefix() {
    .thumbnail {
        height: auto;
    }
}

/* edge */
@supports (-ms-ime-align: auto) {
    .thumbnail {
        height: auto;
    }
}

/* IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    .aside {
        font-size: 0.8em;
    }
    .h1 {
        padding-left: 10%;
    }
    .slideshow {
        margin-left: 1%;
    }
    .thumbnail {
        max-width: 100px;
        min-width: 10em;
    }
}