@font-face {
    font-family: "freestyle script";
    src: url("/fonts/FREESCPT.TTF") format("truetype"), 
         url(FREESCPT.TTF) format("truetype");
}

@font-face {
    font-family: "Pacifico";
    src: url("https://fonts.googleapis.com/css?family=Pacifico");
}

.accordion {
    cursor: pointer;
    font-size: 2em;
    margin: 0.2em;
}

.arrow {
    cursor: pointer;
    width: 12px;
    height: 12px;
    padding-top: 0.5em;
    padding-right: 0.5em;
}

aside {
    float: left;
    max-width: 150px;
    text-align: right;
}

.aside-element {
    font-size: 2em;
    margin: 0.2em;
}

#bottom-container {
    display: flex;
    flex-shrink: 1; 
    padding-left: 1%;
}

.caption {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8em;
}

#container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.date {
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.exhibitions {
    display: none;
    overflow: hidden;
    font-size: 1.0em;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.fill {
    object-fit: cover;
    width: 90%;
    max-width: 950px;
    height: 90%;
}

.h1 {
    padding-left: 20%;
}

.header {
    font-family: "freestyle script", "Pacifico";
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.news-img {
    cursor: pointer;
    width: 85%;
    height: 85%;
    padding-left: 1.5em;
}

.news-caption {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

.news-element {
    padding-left: 1em;
}

.panel {
    display: none;
    overflow: hidden;
    font-size: 1.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
}

.show {
    cursor: pointer;
    font-size: 1em;
    padding-top: 0.5em;
    padding-left: 1em;
    margin: 0;
    text-decoration: none;
}


.slideshow {
    padding-left: 1%;
} 


.thumbnail {
    cursor: pointer;
    max-width: 215px;
    width: 20%;
    max-height: 161px;
    height: 60%;
    margin: 10px;    
}

/*firefox*/
@-moz-document url-prefix() {
    .thumbnail {
        /* firefox */
        height: auto;
    }
}

/*edge*/
@supports (-ms-ime-align: auto) {
    .thumbnail {
        height: auto;
    }
}

/* IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    aside {
        font-size: 0.8em;
    }
    h1 {
        text-align: left;
        padding-left: 5em;
    }
    .slideshow {
        margin-left: 1%;
    }
    .thumbnail {
        width: 10%;
        height: 70%;
        min-width: 10em;
    }
}