@font-face {
    font-family: "freestyle script";
    src: url("/fonts/FREESCPT.TTF") format("TTF");
}

.accordion {
    cursor: pointer;
    font-size: 2em;
    margin: 0.2em;
    
    /* transition: 0.4s; */
}

.arrow {
    cursor: pointer;
    width: 12px;
    height: 12px;
    padding-top: 0.5em;
    padding-right: 0.5em;
}

aside {
    float: left;
    /*width: 150px;*/
    max-width: 150px;
    /*padding-right: 1em;*/
    /*margin: 0;*/
    text-align: right;
}

.aside-element {
    font-size: 2em;
    margin: 0.2em;
}

#bottom-container {
    display: flex;

    /* flex-wrap: wrap; */
    flex-shrink: 1; 
    /*flex-grow: 1;*/ 
    justify-content: center; 
}

.caption {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8em;
}

#container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center; 
    /*justify-content: center;*/ 
}

.date {
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.exhibitions {
    display: none;
    overflow: hidden;
    font-size: 1.0em;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.fill {
    object-fit: cover;
    /*min-width: 950px;*/
    width: 90%;
    max-width: 950px;
    height: 90%;
}

h1 {
    font-size: 4em;
    /*padding-left: 450px;*/
    padding-left: 10%;
    margin: 0;

    text-align: center; 
}

.header {
    font-family: "freestyle script";
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.news-img {
    cursor: pointer;
    width: 85%;
    height: 85%;
    padding-left: 1.5em;
}

.news-caption {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

.news-element {
    padding-left: 1em;
}

.panel {
    display: none;
    overflow: hidden;
    font-size: 1.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
}

.show {
    cursor: pointer;
    font-size: 1em;
    padding-top: 0.5em;
    padding-left: 1em;
    margin: 0;
}

.slideshow {
    /*max-width: 1000px;*/
    
    /*transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);*/ 
    /* width: 500px; auto
    height: 500px; auto */
    /*object-fit: contain fill;*/ 
}

.thumbnail {    
    cursor: pointer;
    /*max-width: 180px;*/
    max-width: 225px;
    width: 20%;
    /*max-height: 135px;*/
    max-height: 169px;
    height: 20%;
    /*margin: 10px;*/
    margin: 10px;
}
