/* ~/Home/Index */

@font-face {
    font-family: "freestyle script";
    src: url("/fonts/FREESCPT.eot");
}

@font-face {
    font-family: "freestyle script";
    src: url("/fonts/FREESCPT.TTF") format("truetype");
}

.accordion {
    text-align: left;
    cursor: pointer;
    font-size: 200%;
    margin: 1%;
}

.arrow {
    cursor: pointer;
    width: 12px;
    height: 12px;
    padding-top: 0.5em;
    padding-right: 0.5em;
}

aside {
    float: left;
    width: 10%;
    min-width: 70px;
    padding-right: 1%;
    text-align: left;
}

.aside-element {
    font-size: 200%;
    margin: 1%;
}

#bottom-container {
    display: flex;
    flex-wrap: wrap;
}

.button {
    display: none;
}

.caption {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8em;
}

#container {
    display: flex;
    flex-direction: column;
}

.date {
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.exhibitions {
    display: none;
    overflow: hidden;
    font-size: 1.0em;
}

.fa {
    text-align: center;
    text-decoration: none;
    font-size: 2px;
    /*border-radius: 50%;*/
    width: 17px;
    padding: 5px;
    margin: 0.2em;
}

.fa:hover {
    color: blue;
}

.fa-facebook {
    /*border-style: solid;
    border-width: thin;
    border-color: #3B5998;*/
    color: #3B5998;
}

.fa-instagram {
    /*border-style: solid;
    border-width: thin;
    border-color: #125688;*/
    color: #125688;
}

.h1 {
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.header {
    font-family: "freestyle script";
}

.news {
    text-decoration: none;
    color: inherit;
}

.news-img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding-left: 5%;
}

.news-caption {
    font-size: 100%;
    padding: 0;
    margin: 0;
}

.news-element {
    padding-left: 1em;
}

.no-select {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.panel {
    display: none;
    overflow: hidden;
    font-size: 100%;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
}

.show {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    padding-top: 0.5em;
    margin: 0;
}

.slideshow {
    display: none;
}

.thumbnail {    
    width: 100%;
    height: 100%;
    margin: 3%;
}

/* firefox */
@-moz-document url-prefix() {
    .thumbnail {        
        width: auto;
        height: auto;
    }
}

/* edge */
@supports (-ms-ime-align: auto) {
    .thumbnail {        
        max-height: 20%;
        margin: auto;
    }
}

/* IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .header {
        font-size: 0.6em;
    }
    .thumbnail {
        max-height: 20%;
        margin: auto;
    }
}