@font-face {
    font-family: "freestyle script";
    src: url("/fonts/FREESCPT.TTF") format("truetype"), 
         url(FREESCPT.TTF) format("truetype");
}

@font-face {
    font-family: "Pacifico";
    src: url("https://fonts.googleapis.com/css?family=Pacifico");
}

.accordion {
    cursor: pointer;
    font-size: 200%;
    margin: 1%;
}

.arrow {
    cursor: pointer;
    width: 12px;
    height: 12px;
    padding-top: 0.5em;
    padding-right: 0.5em;
}

aside {
    float: left;
    width: 10%;
    min-width: 70px;
    padding-right: 1%;
    text-align: right;
}

.aside-element {
    font-size: 200%;
    margin: 1%;
}

#bottom-container {
    display: flex;
    flex-wrap: wrap;
}

.caption {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8em;
}

#container {
    display: flex;
    flex-direction: column;
}

.date {
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.exhibitions {
    display: none;
    overflow: hidden;
    font-size: 1.0em;
}

.h1 {
    height: auto;
    max-width: 80%;
    padding-left: 20%;
}

.header {
    font-family: "freestyle script", "Pacifico";
}

.news-img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding-left: 5%;
}

.news-caption {
    font-size: 100%;
    padding: 0;
    margin: 0;
}

.news-element {
    padding-left: 1em;
}

.panel {
    display: none;
    overflow: hidden;
    font-size: 100%;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
}

.show {
    cursor: pointer;
    padding-top: 0.5em;
    padding-left: 1em;
    margin: 0;
    text-decoration: none;
}

.slideshow {
    display: none;
}

.thumbnail {    
    width: 100%;
    height: 100%;
    margin: 3%;
}

/* firefox */
@-moz-document url-prefix() {
    .thumbnail {        
        width: auto;
        height: auto;
    }
}

/* edge */
@supports (-ms-ime-align: auto) {
    .thumbnail {        
        max-height: 20%;
        margin: auto;
    }
}

/* IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .header {
        font-size: 0.6em;
    }
    .thumbnail {
        max-height: 20%;
        margin: auto;
    }
}